*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --header-height: 40px;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

header
{
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 5;
}

.views-list
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.view
{
    /* margin-left: 20px; */
    width: calc(100% / 3);
    height: 100%;
    line-height: var(--header-height);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: all .3s ease-in-out;
    color: #FFFFFF;
}

.view:hover {
    background-color: #FFFFFF80;
}